html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#map{
	margin: 0;
	padding: 0;
	width: 50%;
	height: 100%;
	float: left;

}
#photo{
	margin: 0;
	padding: 0;
	width: 50%;
	height: 100%;
	float: left;

}
